<h2>ejemplo de pipes nativos angular</h2>
<p>mi nacimiento sin PIPE es: {{dob}}</p> 
<p>mi nacimiento con PIPE date Basico es: {{dob | date}} </p>
<p>mi nacimiento con PIPE date "dd/MM/yyyy" es: {{dob | date:dateFormat}} </p>
<button (click)="cambiarFormato()" >Cambiar formato a {{!cambio?'short':'full'}}</button>
<br>
<!-- Decimales -->
<p>PI (3 decimales): {{numero_Pi |number:'.3-3'}}</p>
<p>PI (5 decimales): {{numero_Pi |number:'.5-5'}}</p>
<p>PI (2 enteros y 8 decimales): {{numero_Pi |number:'2.8-8'}}</p>
<br>
<!-- Moneda(Curency) -->
<p>precio del carrito euro: {{precioCarrito| currency:'EUR'}}</p>
<p>precio del carrito dolar: {{precioCarrito| currency:'USD'}}</p>
<p>precio del carrito euro + 3 decimales: {{precioCarrito| currency:'EUR':true:'.3-3'}}</p>
<br>
<!-- json -->
<p>{{jugador1|json}}</p> <br>
<!-- porcentaje -->
<p>porcentaje de votos obtenidos {{cantidad|percent:'2.2-2'}}</p> <br>
<!-- slice -->
<p>texto demaciado largo: {{textoLargo|slice:0:10}}...</p>

<br>

<!-- COMBINACION DE PIPES -->
<p>mi nacimiento con PIPE date "dd/MM/yyyy" EN mayuscula es: {{dob | date:dateFormat|uppercase}} </p>
<p>mi nacimiento con PIPE date "dd/MM/yyyy" en minuaucla es: {{dob | date:dateFormat |lowercase}} </p>
<br>
<!-- Pipe personalizado que multiplica -->
<p>Resulatado :{{2|multiplica:10}} puntos</p> <br>
<!-- pipe personalizado calcular puntuacion -->
<p> {{jugador1 | calcularPuntuacion}}</p>
<p> {{jugador2 | calcularPuntuacion}}</p>