<h1>juego de amigo invisible</h1>
<h3>¡bienvenido!</h3>


<ng-container *ngIf="contactoSeleccionado; else noSeleccionado">
    <h4>Amigo Invisible {{contactoSeleccionado.name.first}}</h4>
</ng-container >
<ng-template #noSeleccionado>
    <div class="">
        Selecciona a tu amigo invisible
    </div>
</ng-template>
<button mat-raised-button color="primary" (click)="navegarAContacts()">ver tus contactos</button>

<div class="">
    <p>Filtros</p>
    <a href="" [routerLink]="['/contacts']" [queryParams]="{sexo:'fimale'}">Mujeres --</a>
    <a href="" [routerLink]="['/contacts']" [queryParams]="{sexo:'male'}">|--Hombres</a>
</div>
