<h3>Lista contactos</h3>
<div class="" *ngFor="let contacto of listaContactos">
    <p class="contacto" (click)="detallesContacto(contacto.id)">{{contacto.nombre}}</p>
</div>
<ng-container *ngIf="contactoSelcionado; else contacnoNoSeleccionado">
    <p>{{contactoSelcionado.id}}</p>
    <p>{{contactoSelcionado.nombre}}</p>
    <p>{{contactoSelcionado.apellido}}</p>
    <p>{{contactoSelcionado.edad}}</p>
</ng-container>
<ng-template  #contacnoNoSeleccionado >
    <p>seleciona un ontacto para ver informacion del mismo</p>
</ng-template>