<!-- Toolbar -->
<div class="toolbar" role="banner">

  <div class="content" role="main">
    <div class="card highlight-card card-small">
      <!-- ng model pasa variable a vista, pero tambien escucha el valor digitado de la vista 
      se conoce como two-way binding" o "enlace bidireccional"-->
      <input type="text" placeholder="nombre usuario" [(ngModel)]="nombre">
      <!-- pasando variable al componente saludar  -->
      <!-- (mensajeEmitter)="recibirMensajeHijo($event)"recibe el evento del hijo (texto) luego ese evento pasa a la funcion 
        recibirMensaeHijo el cual la alerta -->
       
      </div>
    </div>
    <app-saludar [nombre]="nombre" (mensajeEmitter)="recibirMensajeHijo($event)"></app-saludar>
    <!-- ejemplo  -->
    <div class="content" role="main">
      <!-- EJREMPLO DE UN SERVICIO -->
      <app-lista-contacto></app-lista-contacto>
      <!-- EJEMPLO DE PETICION HTTP -->
      <app-login-form></app-login-form>
    </div>
